.Rhistory

# results of demo Rmd rendering
lab_05/nano_research.docx
lab_05/nano_research.html
lab_05/nano_research.tex
lab_05/nano_research.pdf
lab_05/nano_presentation_files/
lab_05/nano_presentation.html





# rlms database
*.sav 

# tex
*.vrb
*.nav
*.snm
*.xdv
*.aux
*.fls
*.out
*.fdb_latexmk
*.synctex.gz
*.toc
*.log

lec_13/slides
lec_14/slides
